<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	 
	<appSettings>
    <add key="ConnectionString" value="Server=destok-11\SQLEXPRESS;Database=SchoolDB;Trusted_Connection=True;TrustServerCertificate=True"/>
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>